@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.hello{
    min-width: 100vw;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 10rem;
}

.container{
    width: 80vw;
}

.strength{
    display: flex;
    gap: 0rem;
    margin-bottom: 0;
}

.strength .strength-content{
    width: 50%;
    padding-top: 0.5rem;
    margin-bottom: 0;
}

.strength .strength-content .strength-title{
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #091e42;
    line-height: 80px;
    margin: 0;
    margin-right: 1rem;
}

.strength .strength-content .strength-title span{
    color: #54a6ff;
    font-weight: 700;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.strength .strength-content .strength-desc{
    font-weight: 500;
    color: #42526d;
    font-size: 1.13rem;
    line-height: 22px;
}

.strength .strength-content .qr-rating{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.strength .strength-content .qr-rating .qr{
    width: 6rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.strength .strength-content .qr-rating .rating{
    width: 7rem;
}

.strength .strength-pictures{
    width: 50%;
    display: flex;
    gap: 1.5rem;
    margin-bottom: 0;
}

.strength .strength-pictures .pic-1{
    width: 55%;
    object-fit: cover;
    border-radius: 2rem;
}

.strength .strength-pictures .pic-2{
    width: 40%;
    object-fit: cover;
    border-radius: 2rem;
}

.btn-qr{
    display: none;
    background: #3395ff;
    padding: 0.8rem 5rem;
    border: none;
    border-radius: 2rem;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s;
}

.btn-qr:hover{
    background: #155292;
}


/* ****** mental-section */
.mental{
    min-width: 100vw;
    min-height: 70vh;
    background: #f3f9ff;
    overflow: hidden;
    padding: 4rem 0;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mental .title{
    text-align: center;
    font-size: 2.63rem;
    font-weight: 600;
    color: #091e42;
    line-height: 50px;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.mental .rows{
    transform: translateX(-200px);
}

.mental .row{
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
}

.mental .row-top{
    transform: translateX(-500px);
}

.mental .row .item-1{
    /* background: black; */
    min-width: 270px;
    min-height: 160px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.mental .row .item-4{
    /* background: black; */
    min-width: 270px;
    min-height: 160px;
    border-radius: 1.5rem;
    overflow: hidden;
}

.mental .row-bottom .item-4 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mental .row .item-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mental .row .item-4 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.mental .row .item-2{
    font-size: 2rem;
    display: block;
    font-weight: 600;
    line-height: 40px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    min-width: 280px;
    min-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #76c8ee;
    padding: 0 1rem;
    border-radius: 1.5rem;
    color: #fff;
}

.mental .row .item-3{
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    min-width: 350px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 0 2rem;
    border-radius: 1.5rem;
}

.mental .row-bottom .item-2{
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    min-width: 350px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 0 2rem;
    border-radius: 1.5rem;
}

.mental .row-bottom .item-2 img{
    width: 2rem;
    margin-bottom: 0.5rem;
}

.mental .row-bottom .item-2 p{
    margin: 0;
    font-size: 1.5rem;
    color: #42526d;
    line-height: 36px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.mental .row .item-3 img{
    width: 2rem;
    margin-bottom: 0.5rem;
}

.mental .row .item-3 p{
    margin: 0;
    font-size: 1.5rem;
    color: #42526d;
    line-height: 36px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

.mental .row .item-5{
    font-size: 2rem;
    font-weight: 600;
    line-height: 40px;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    min-width: 350px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 0 2rem;
    border-radius: 1.5rem;
}

.mental .row .item-5 img{
    width: 2rem;
    margin-bottom: 0.5rem;
}

.mental .row .item-5 p{
    margin: 0;
    font-size: 1.5rem;
    color: #42526d;
    line-height: 36px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

/* ********* programs section */
.programs{
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0;
}

.programs .program-title{
    display: none;
    font-size: 2.5rem;
    font-weight: 600;
    color: #091e42;
    line-height: 48px;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}

.programs-content{
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: 2fr 1.2fr;
    gap: 0.75rem;
}


.prog-info h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 58px;
    color: #091e42;
    font-family: "Poppins", sans-serif;
    margin: 0;
    margin-bottom: 3rem;
}

.prog-info .card-1{
    background: #3395ff;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    border-radius: 2rem;
    background: url('src/assets/yoga.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.card-prog{
    background: #3395ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    border-radius: 2rem;
    background: url('src/assets/yoga.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.card-2{
    background: url('src/assets/adhd.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-3{
    background: url('src/assets/anxiety.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-4{
    background: url('src/assets/meditation.webp');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.card-5{
    background: url('src/assets/trauma.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-6{
    background: url('src/assets/audio.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card-prog::before{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
    to top,
    #0000008f,
    #ffffff06
  );
    pointer-events: none;
}

.card-prog > *{
    position: relative;
    z-index: 1;
}

.prog-info .card-1::before{
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
    to top,
    #0000008f,
    #ffffff06
  );
    pointer-events: none;
}

.prog-info .card-1 > *{
    position: relative;
    z-index: 1;
}

.prog-info .card-1 h3{
    font-size: 2rem;
    margin: 0;
    color: #fff;
    line-height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.card-prog h3{
    font-size: 2rem;
    margin: 0;
    color: #fff;
    line-height: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.card-prog .card-info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card-prog .card-info p{
    font-size: 1rem;
    line-height: 21px;
    font-weight: 500;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

.prog-info .card-1 .card-info{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.prog-info .card-1 .card-info p{
    font-size: 1rem;
    line-height: 21px;
    font-weight: 500;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

.prog-info .card-1 .card-info .btn{
    background: #155292;
    color: #fff;
    padding: 0.9rem;
    border-radius: 50%;
    border: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.prog-info .card-1 .card-info .btn:hover{
    transform: rotate(45deg);
    background: #fff;
    color: #155292;
}

.card-prog .card-info .btn{
    background: #155292;
    color: #fff;
    padding: 0.9rem;
    border-radius: 50%;
    border: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

.card-prog .card-info .btn:hover{
    transform: rotate(45deg);
    background: #fff;
    color: #155292;
}

/* ******** steps */
.steps{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.steps-container{
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-step{
    background: #f3f9ff;
    display: flex;
    border-radius: 2rem;
    align-items: center;
}

.card-step .step-title{
    font-size: 10rem;
    margin: 0;
    margin-left: 1rem;
    font-weight: 600;
    color: #fff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-step .card-info{
    text-align: center;
    flex: 1;
    padding: 2rem;
    margin: 0 10%;
}

.step-2{
    background: #eeeefb !important;
}

.card-step .card-info .title{
    font-size: 2.63rem;
    margin: 0;
    color: #091e42;
    font-weight: 700;
    line-height: 55px;
    font-family: "Poppins", sans-serif;
}

.card-step .card-info .desc{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 28px;
    color: #42526d;
    font-family: "Poppins", sans-serif;
    margin: 1rem 0;
}

.card-step .card-info .btn{
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 20px;
    background: #3395ff;
    color: #fff;
    border: none;
    padding: 0.8rem 4rem;
    border-radius: 1rem;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.card-step .card-info .btn:hover{
    background: #003b79;
}

/******** coachs */
.coachs{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.coachs-content{
    width: 80vw;
}

.coachs-content .header{
    font-size: 2.63rem;
    margin-bottom: 3rem;
    color: #091e42;
    font-weight: 600;
    line-height: 50px;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

/* ********** well experts */
.well-experts{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.well-experts .well-content{
    width: 100vw;
    background-image: url('src/assets/list-banner-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 70vh;
    padding: 3rem;
    padding-left: 10%;
    display: flex;
    align-items: center;
}

.well-content .well-info{
    background: #fff;
    width: 45%;
    padding: 2.5rem 2rem;
    border-radius: 1rem;
}

.well-content .well-info .title{
    font-size: 2.75rem;
    font-weight: 700;
    color: #091e42;
    line-height: 54px;
    font-family: "Poppins", sans-serif;
    margin-top: 0;
}

.well-content .well-info .type{
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1rem;
}

.well-content .well-info .type .icon{
    color: #76c8ee;
    display: inline-block;
    font-size: 1.5rem;
}

.well-content .well-info .type .desc{
    margin: 0;
    font-size: 1rem;
    line-height: 21px;
    color: #42526d;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.well-content .well-info .type .desc span{
    font-weight: 600;
    color: #15294b;
}

.well-content .well-info .btn{
    background: #3e9bff;
    border: none;
    font-size: 1rem;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    color: #fff;
    font-weight: 600;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: all 0.3s;
}

.well-content .well-info .btn:hover{
    background: #003b79;
}

/* ****research */
.research{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.research-content{
    width: 80vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    height: 80vh;
    gap: 2rem;
}

.extensive{
    grid-row: 1/3;
    background: url('src/assets/yoga-feature.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2rem;
    position: relative;
}

.extensive::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        #0000008f,
        #ffffff06
      );
    pointer-events: none;
    border-radius: 2rem;
}

.extensive > *{
    position: relative;
    z-index: 1;
}

.extensive .research-info{
    padding: 2rem;
    width: 60%;
}

.extensive .research-info .research-title{
    margin: 0;
    color: #fff;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: 46px;
    font-family: "Poppins", sans-serif;
}

.extensive .research-info .research-desc{
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    line-height: 21px;
}

.extensive .research-bottom{
    position: absolute;
    right: 0;
    bottom: 5rem;
    padding: 2rem;
    width: 40%;
}

.extensive .research-bottom h1{
    font-size: 2.25rem;
    color: #fff;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.extensive .research-bottom p{
    font-weight: 500;
    margin: 0;
    font-size: 1rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
    line-height: 21px;
    
}

.extensive .btn{
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background: #155292;
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 50%;
    border: 0.2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0.5rem;
    transition: all 0.3s;
}

.extensive .btn:hover{
    transform: rotate(45deg);
    background: #091e42;
}


.expert{
    background: #091e42;
    border-radius: 2rem;
    padding: 2rem 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;
}

.expert .info h1{
    margin: 0;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 36px;

}

.expert .info p{
    font-size: 0.88rem;
    color: #fff;
    line-height: 18px;
    font-weight: 400;
}

.expert .btn{
    background: #3395ff;
    border: none;
    padding: 0.8rem 0;
    width: 60%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 20px;
    color: #fff;
    border-radius: 1rem;
    cursor: pointer;
}

.familiar{
    background: #bfe6f7;
    border-radius: 2rem;
    padding: 2rem 1.2rem;
    font-family: "Poppins", sans-serif;
    position: relative;
}

.familiar h1{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 36px;
    margin: 0;
    color: #091e42;
}

.familiar p{
    font-size: 0.88rem;
    font-weight: 400;
    color: #42526d;
    line-height: 18px;
}

.familiar .btn{
    background: #155292;
    padding: 1rem;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 50%;
    border: 0.2rem solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    margin: 0.5rem;
}

.familiar .btn:hover{
    transform: rotate(45deg);
    background: #091e42;
}

/* *** journey well */
.well-journey{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;
}

.journey-cont{
    width: 80vw;
    display: flex;
    gap: 1rem;
    background: #f3f9ff;
    border-radius: 2rem;
    height: 80vh;
}

.journey-cont .journey-info{
    flex: 1;
}
.journey-cont .journey-info .qr-jr{
    width: 8rem;
}

.journey-cont .journey-info{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
   justify-content: center;
}

.journey-cont .journey-info .title-journey{
    font-size: 3.75rem;
    color: #091e42;
    font-weight: 600;
    line-height: 80px;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.journey-cont .journey-info .journey-desc{
    font-size: 1.25rem;
    line-height: 26px;
    font-weight: 500;
    color: #42526d;
    font-family: "Poppins", sans-serif;
    width: 70%;
    margin-bottom: 2rem;
}

.journey-cont .journey-info .title-journey span{
    color: #3395ff;
    font-weight: 700;
}

.journey-cont .journey-info .qr-container{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.journey-cont .journey-info .qr-container .links{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.journey-info .qr-container .links .ios-jr{
    width: 8rem;
}
.journey-info .qr-container .links .and-jr{
    width: 8rem;
}

.journey-cont .journey-img{
    flex: 1;
    display: flex;
    align-items: flex-end;
}
.journey-cont .journey-img .phone-jr{
    width: 100%;
    display: block;
}

@media (max-width: 1200px) {
    .container{
        width: 90vw;
    }

    .strength .strength-content .strength-title{
        font-size: 3.25rem;
        line-height: 60px;
        margin: 0;
    }

    /* **** programs */
    .programs-content{
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        grid-template-rows: 1fr 1fr 1fr;
    }
    .programs{
        margin: 5rem 0;
    }

    .prog-info h2{
        display: none;
    }

    .programs .program-title{
        display: block;
    }

    /* **** steps */
    .steps-container{
        width: 90vw;
        gap: 1.5rem;
    }
    .steps{
        margin: 5rem 0;
    }

    /* ***** coachs */
    .coachs{
        margin-bottom: 5rem;
    }
    
    .coachs-content{
        width: 90vw;
    }
    
    /* **** well experts */
    .well-experts{
        margin-bottom: 5rem;
    }
    
    .well-experts .well-content{
        width: 100vw;
        padding: 2rem 5%;
        background-position:  right;
        border-radius: 0;
        border-radius: 1rem;
    }

    /* **** research */
    .research{
        margin-bottom: 5rem;
    }
    .research-content{
        width: 90vw;
    }

    /* *** journey well */
    .well-journey{
        margin-bottom: 5rem;
    }

    .journey-cont{
        width: 90vw;
        height: 70vh;
    }
    
    .journey-cont .journey-info .title-journey{
        font-size: 3rem;
        line-height: 70px;
    }
    
    .journey-cont .journey-info .journey-desc{
        font-size: 1.2rem;
        line-height: 20px;   
    }
}

@media (max-width: 1170px){
    .hello{
        margin-bottom: 5rem;
    }

    .strength{
        display: flex;
        gap: 1rem;
        flex-direction: column;
        
    }

    .strength .strength-content{
        width: 100%;
        padding-top: 0rem;
        order: 2;
        text-align: center;
    }

    .strength .strength-pictures{
        width: 80%;
        order: 1;
        margin: auto;
        margin-bottom: 2rem;
        justify-content: center;
    }

    .strength .strength-content .qr-rating{
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        flex-direction: column;
    }

    .btn-qr{
        display: block;
    }

    .strength .strength-content .qr-rating .qr{
        display: none;
    }

    /* mental */
    .mental{
        padding: 2rem 0;
    }

    .mental .title{
        font-size: 2.4rem;
    }

    .mental .row{
        gap: 1.2rem;
    }

    .mental .row .item-1{
        min-width: 250px;
        min-height: 140px;
    }

    .mental .row .item-4{
        min-width: 250px;
        min-height: 140px;
    }

    .mental .row .item-2{
        font-size: 1.9rem;
        line-height: 30px;
        min-width: 260px;
        min-height: 140px;
        padding: 0 0.9rem;
    }

    .mental .row-bottom .item-2 img{
        width: 1.8rem;
    }

    .mental .row-bottom .item-2 p{
        font-size: 1.3rem;
        line-height: 30px;
    }

    .mental .row .item-3 img{
        width: 1.8rem;
    }
    
    .mental .row .item-3 p{
        font-size: 1.3rem;
        line-height: 30px;
    }

    .mental .row .item-5{
        font-size: 1.9rem;
        line-height: 30px;
        min-width: 330px;
        min-height: 140px;
        padding: 0 1.9rem;
    }
    
    .mental .row .item-5 img{
        width: 1.8rem;
        margin-bottom: 0.5rem;
    }
    
    .mental .row .item-5 p{
        font-size: 1.3rem;
        line-height: 30px;
    }

    /* ****programs */
    .programs .program-title{
        font-size: 2rem;
        line-height: 40px;
    }

    .card-prog h3{
        font-size: 1.5rem;
        line-height: 30px;
    }

    .prog-info .card-1 h3{
        font-size: 1.5rem;
        line-height: 30px; 
    }

    /* **** steps */
    .card-step .step-title{
        font-size: 7rem;
    }
    
    .card-step .card-info{
        padding: 1rem;
        margin: 0 5%;
    }

    .card-step .card-info .title{
        font-size: 2.2rem;
        line-height: 40px;
    }
    
    .card-step .card-info .desc{
        font-size: 1.1rem;
        line-height: 20px;
    }
    
    .card-step .card-info .btn{
        font-size: 0.9rem;
    }

    /* ***** coachs */
    .coachs-content .header{
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height: 40px;
    }

    /* **** well experts */
    .well-experts .well-content{
        min-height: 80vh;
        display: flex;
        align-items: flex-end;    
        padding: 2rem 5%;;
        width: 100vw;
    }
    
    .well-content .well-info{
        width: 100%;
        padding: 1rem;
    }

    .well-content .well-info .title{
        font-size: 2rem;
        line-height: 44px;
    }

    .well-content .well-info .type .desc{
        font-size: 0.9rem;
        line-height: 19px;
    }
    
    
    .well-content .well-info .btn{
        font-size: 0.9rem;
    }

    .well-content .well-info .type .icon{
        font-size: 1.2rem;
    }

    /* ****research */
    .research-content{
        gap: 1.5rem;
    }
    
    .extensive .research-info .research-title{
        font-size: 2rem;
        font-family: 36px;
    }
    
    .extensive .research-info .research-desc{
        font-size: 0.9rem;
        line-height: 19px;
    }

    .extensive .research-bottom h1{
        font-size: 2rem;
    }
    
    .extensive .research-bottom p{
        font-size: 0.9rem;
        line-height: 19px;
        
    }

    .extensive .btn{
        padding: 0.9rem;
        font-size: 1rem;
    }

    .expert .info h1{
        font-size: 1.5rem;
        line-height: 30px;
    
    }

    .familiar h1{
        font-size: 1.5rem;
        line-height: 30px;
    }
    
    
    .familiar .btn{
        padding: 0.9rem;
        font-size: 1rem;
    }
    
    /* **** well-journey */
    .journey-cont .journey-info .title-journey{
        font-size: 2.5rem;
        line-height: 50px;
    }
    
    .journey-cont .journey-info .journey-desc{
        font-size: 1.2rem;
        line-height: 20px;  
        width: 80%; 
    }

    .journey-cont .journey-info .qr-jr{
        width: 6rem;
    }

    .journey-info .qr-container .links .ios-jr{
        width: 6.5rem;
    }
    .journey-info .qr-container .links .and-jr{
        width: 6.5rem;
    }

    .journey-cont .journey-img .phone-jr{
        width: 100%;
        display: block;
        height: 90%;
    }
    
}

@media (max-width: 750px) {
    .strength .strength-content .strength-title{
        font-size: 3rem;
        line-height: 45px;
        margin: 0;
    }

    /* ***** mental */
    .mental .title{
        font-size: 2rem;
        line-height: 40px;
    }
    /* **** programs */
    .programs-content{
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
        grid-template-rows: repeat(6, 1fr);
    }
    .programs{
        margin: 3rem 0;
    }

    .programs .program-title{
        margin: 0 10%;
        margin-bottom: 2rem;
    }

    /* **** steps */
    .card-step .step-title{
        display: none;
    }

     /* **** well experts */
     .well-experts .well-content{
        min-height: 90vh;  
        padding: 2rem 5%;
        width: 100vw;
    }
    
    .well-content .well-info{
        padding: 0.8rem;
    }

    .well-content .well-info .title{
        font-size: 1.5rem;
        line-height: 34px;
    }

    .well-content .well-info .type .icon{
        font-size: 1.1rem;
    }

    /* **** research */
    .research-content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr 1fr;
        min-height: 90vh;
    }
    
    .extensive{
        grid-row: 1/2;
        background-position: top;
    }

    .extensive .research-bottom{
        display: none;
    }

    .expert .btn{
        padding: 0.6rem 0;
        width: 40%;
        font-size: 0.8rem;
    }

    .extensive .research-info{
        padding: 2rem 1.2rem;
        width: 80%;
    }

    .familiar h1{
        font-size: 1.2rem;
        line-height: 28px;
    }
    
    .familiar p{
        width: 80%;
    }

    .expert .info h1{
        font-size: 1.2rem;
        line-height: 28px;
    
    }
    
    .expert .info p{
        width: 80%;
    }

    .extensive .research-info .research-title{
        font-size: 1.2rem;
        font-family: 28px;
    }
    
    .extensive .research-info .research-desc{
        font-size: 0.88rem;
        line-height: 18px;
    }

    /* *** well journey */
    .journey-cont{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .journey-cont .journey-info .journey-desc{
        text-align: center;
        width: 80%;

    }

    .journey-cont .journey-info{
        margin: 2rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
    }

    .journey-cont .journey-info .title-journey{
        font-size: 2rem;
        line-height: 40px;
        text-align: center;
    }

    .journey-cont .journey-img{
        flex: 1;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .journey-cont .journey-img .phone-jr{
        width: 80%;
        display: block;
        margin-top: auto;
    }
}