@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fit-journey{
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #000,#1f1f1f);
}

.fit-content{
    width: 80vw;
    display: flex;
}

.fit-content .fit-info{
    width: 50%;
    margin: 4rem 0;

}

.fit-content .fit-info .title{
    font-size: 5rem;
    color: #fff;
    line-height: 100px;
    font-style: italic;
    font-weight: 900;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.fit-content .fit-info .title span{
    color: aqua;
}

.fit-content .fit-info .desc{
    font-size: 1.25rem;
    color: #e6e6e7;
    font-weight: 400;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 4rem;
    width: 90%;
}

.fit-content .fit-img{
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.fit-content .fit-img img{
    width: 100%;
    display: block;
}

.fit-content .links{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.fit-content .qr-fit{
    width: 7rem;
    border-radius: 5px;
   
}

.fit-content .rat-fit{
    width: 8rem;
}

/* body-parts */
.body-parts{
    background: #1b1b1c;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 5rem 0;
}

.body-content{
    width: 80vw;
}

.body-info {
    width: 50%;
}

.body-info .title{
    font-size: 3.75rem;
    color: #fff;
    font-weight: 900;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    margin: 0;
    margin-bottom: 2rem;
}

.body-info .desc{
    font-size: 1rem;
    font-weight: 400;
    color: #434347;
    line-height: 18px;
    width: 50%;
    color: #ffffff79;
}

.body-content .body-img{
    width: 100%;
    margin-top: -7rem;
}
 
.body-content .body-img img{
    width: 100%;
}

/* exercices */
.exercices{
    background: #161616;
}

.exercices .title{
    color: #fff;
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 900;
    line-height: 60px;
    font-style: italic;
}

.exercices .item-2{
    background: linear-gradient(to right, #213b3c, #335c5d) !important;
}
.exercices .item-3{
    min-width: 250px !important;
    min-height: 160px;

}

.exercices .item-5{
    background: linear-gradient(to right, #213b3c, #335c5d) !important;
}
.exercices .item-5 p{
    color: #fff !important;
}

/* fit programs */
.fit-programs{
    background: #1b1b1c;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    padding: 10rem 0 15rem 0;
    font-family: "Poppins", sans-serif;
}

.program-content{
    width: 80vw;
}

.program-content .title{
    font-size: 3.75rem;
    color: #fff;
    font-weight: 900;
    line-height: 64px;
    font-family: "Poppins", sans-serif;
    font-style: italic;
    width: 60%;
    letter-spacing: 3px;
    margin: 0;
    margin-bottom: 2rem;
}

.program-content .grids{
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 1rem;
    min-height: 80vh;
}

.program-content .grids .grid-col{
    display: flex;
    align-items: flex-end;
    border-radius: 2rem;
}

.program-content .grids .grid-col-1{
    background: url('src/assets/image-98.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.program-content .grids .grid-col-2{
    background: url('src/assets/image-101.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.program-content .grids .grid-col-3{
    background: url('src/assets/image-99.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.program-content .grids .grid-col-4{
    background: url('src/assets/image-100.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.grids .grid-col .grid-info{
    padding: 1.5rem;
    color: #fff;
}

.grids .grid-col-1 .grid-info .title-grid{
    width: 60%;
}
.grids .grid-col .grid-info .title-grid{
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    line-height: 36px;
    margin: 0;
}

.grids .grid-col .grid-info .desc{
    font-size: 1rem;
    font-weight: 400;
    line-height: 18px;
    color: #ffffffdc;
    margin-bottom: 0.5rem;
}

.workouts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    background: #11938f;
    padding: 2rem 5rem;
    border-radius: 2rem;
}
.workouts .workouts-info{
    width: 60%;
}
.workouts .workouts-info .title-workout{
    font-size: 3rem;
    margin: 0;
    color: #28282a;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
}

.workouts .workouts-info p{
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 28px;
    color: #28282a;
    margin: 1rem 0;
}

.workouts .arrows{
    font-size: 8rem;
    color: #14beb888;
    display: flex;
    align-items: center;
}

.workouts .links{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.workouts .links .qr-img{
    width: 8rem;
    border-radius: 5px;
}

.workouts .links .download{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.workouts .links .download .app-store{
    width: 9rem;
    color: #fff;
}
.workouts .links .download .google-play{
    width: 9rem;
}

/* transformation */
.transformation-bo{
    min-width: 100vw;
    display: flex;
    justify-content: center;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: #f5f5f6;
    margin-top: -5rem;
}

.transformation-content{
    width: 80vw;
    display: flex;
    gap: 2rem;
}

.transformation-content .transformation-info{
    width: 40%;
    padding: 3rem 0;
}
.transformation-content .transformation-info .title-tr{
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 64px;
    color: #28282a;
    font-style: italic;
    width: 70%;
    margin: 0;
}
.transformation-content .transformation-info .title-tr span{
    color: #0c9591;
}

.transformation-content .transformation-info .desc-tr{
    font-size: 1rem;
    color: #696a71;
    font-weight: 400;
    line-height: 18px;
    width: 60%;

}

.transformation-content .transformation-img{
    width: 60%;
    display: flex;
    align-items: flex-end;
    margin-top: -5rem;
}
.transformation-content .transformation-img img{
    width: 100%;
    display: block;

}

.transformation-content .transformation-info .links-bo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 2rem;
}

.transformation-content .transformation-info .download-bo{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.transformation-content .transformation-info .qr-bo{
    width: 8rem;
    border-radius: 5px;
}

.transformation-content .transformation-info .app-store{
    width: 10rem;
}
.transformation-content .transformation-info .google-play{
    width: 10rem;
}

@media (max-width:1200px) {
    .fit-content{
        width: 90vw;
    }

    .fit-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .fit-content .fit-info .title{
        font-size: 3rem;
        line-height: 65px;
    }
    
    .fit-content .fit-info .desc{
        font-size: 1.2rem;
        line-height: 20px;
    }

    .fit-content .qr-fit{
        width: 6rem;       
    }
    
    .fit-content .rat-fit{
        width: 7rem;
    }

    /* body-parts */
    .body-content{
        width: 90vw;
    }

    .body-info .title{
        font-size: 3rem;
        line-height: 60px;
    }

    .body-info {
        width: 60%;
    }

    /* exercises */
    .exercices .title{
        font-size: 3rem;
    }

    /* fit programs */
    .fit-programs{
        padding: 5rem 0 10rem;
    }

    .program-content{
        width: 90vw;
    }

    .program-content .title{
        font-size: 3rem;
        line-height: 60px;
        width: 70%;
    }
    
    .program-content .grids{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 100vh;
    }

    .program-content .grids .grid-col-1{
        background-position: top;
    }
    .program-content .grids .grid-col-3{
        background-position: top;
    }

    .grids .grid-col-1 .grid-info .title-grid{
        width: 100%;
    }

    .workouts .links .qr-img{
        width: 7rem;
    }

    .workouts .links .download .app-store{
        width: 8rem;
    }
    .workouts .links .download .google-play{
        width: 8rem;
    }

    .workouts .arrows{
        font-size: 6rem;
    }

    .workouts .workouts-info .title-workout{
        font-size: 2rem;
        
    }

    .workouts .workouts-info p{
        font-size: 1rem;
        line-height: 20px;
        margin: 0.5rem 0;
    }

    .workouts {
        padding: 1.5rem 3rem;
    }

    /* transformation */
    .transformation-content{
        width: 90vw;
        gap: 2rem;
    }

    .transformation-content .transformation-info{
        width: 50%;
    }
    .transformation-content .transformation-info .title-tr{
        font-size: 3rem;
        line-height: 60px;
        width: 90%;
    }

    .transformation-content .transformation-info .desc-tr{
        width: 80%;
    
    }
    
    .transformation-content .transformation-img{
        width: 50%;
        margin-top: 1rem;
        align-items: center;
    }

    .transformation-content .transformation-info .qr-bo{
        width: 7rem;
    }
    
    .transformation-content .transformation-info .app-store{
        width: 9rem;
    }
    .transformation-content .transformation-info .google-play{
        width: 9rem;
    }
    
}

@media (max-width:1170px){
    .fit-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fit-content .fit-img{
       order: -1;
    }

    .fit-content .fit-info{
        width: 100%;
        text-align: center;
        margin-top: -4rem;
    }

    .fit-content .links{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fit-content .fit-info .desc{
        margin-bottom: 3rem;
        width: 80%;
        text-align: center;
        margin: 1rem auto 3rem auto;
    }

    /* body-parts */
    .body-parts{
        padding: 3rem 0;
    }

    .body-info .desc{
        width: 70%;
    }

    .body-content .body-img{
        margin-top: -3rem;
    }
     
}

@media (max-width: 750px) {
    .fit-content .fit-info .title{
        font-size: 2.5rem;
        line-height: 45px;
    }
    
    .fit-content .fit-info{
      margin-bottom: 2rem;
    
    }
    .fit-content .fit-info .desc{
        font-size: 1.1rem;
        line-height: 18px;
        width: 90%;
    }

    .fit-content .qr-fit{
        width: 6rem;       
    }
    
    .fit-content .rat-fit{
        width: 7rem;
    }

    /* body-parts */
    .body-info .title{
        font-size: 2.5rem;
        line-height: 55px;
        margin-bottom: 1rem;
    }

    .body-info {
        width: 100%;
    }

    .body-info .desc{
        width: 90%;
    }

    .body-content .body-img{
        margin-top: 2rem;
    }

      /* exercises */
      .exercices .title{
        font-size: 2.5rem;
        line-height: 55px;
    }

    /* fit programs */

    .program-content .title{
        font-size: 2.5rem;
        line-height: 55px;
        width: 100%;
    }
    
    .program-content .grids{
        display: grid;
        grid-template-columns: 1fr;
        min-height: 100vh;
    }

    .program-content .grids .grid-col{
        min-height: 500px;
    }

    .program-content .grids .grid-col .grid-info .title-grid{
        font-size: 1.75rem;
    }


    .workouts .links .qr-img{
        width: 6rem;
    }

    .workouts .links .download {
        display: none;
    }


    .workouts .arrows{
        font-size: 5rem;
    }

    .workouts .workouts-info .title-workout{
        font-size: 2rem;
        line-height: 45px;
    }


    .workouts {
        padding: 1rem 1.5rem;
    }

    
    /* transformation */
    .transformation-content{
        flex-direction: column;
        gap: 0;
    }

    
    .transformation-content .transformation-info{
        width: 100%;
        text-align: center;
    }
    .transformation-content .transformation-info .title-tr{
        font-size: 2.5rem;
        line-height: 55px;
        width: 100%;
    }

    .transformation-content .transformation-info .desc-tr{
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
    }

    .transformation-content .transformation-info .links-bo{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .transformation-content .transformation-info .download-bo{
        display: flex;
        flex-direction: row;
    }

    .transformation-content .transformation-img{
        width: 100%;
    }

    .transformation-content .transformation-info .qr-bo{
        display: none;
    }
}